<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Calculator.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EEB475ED1F4FF21F00DE99F5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EEB476011F4FF21F00DE99F5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EEB4760C1F4FF21F00DE99F5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
